.venv
__pycache__
config.py
.idea
logs

# UI
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
.next
package-lock.json

locks
django_app

# Krishna : remove below 2 files from .gitignore only if you have docker-compose.yml changes and 
# remember docker-compose.yml in "MASTER" branch is different from "DEV" branch
docker-compose.yml
Makefile
